<%
function printP(o, p)
{
  if(p === 'timestamp')
    return '<b>' + new Date(o[p]).toLocaleString() + '</b>'
  else if (p.includes('temp') && !p.includes('_temp_direction') && !p.includes('gui_temp') ) return o[p] + ' C / ' + Math.round( o[p] * 9 / 5 + 32) + ' F '
  else return formatTxt(o[p] + '' )
}

function formatTxt(b)
{
  switch(b){
    case 'true' : return '<span style="color:green">Yes</span>'
    case 'false' : return '<span style="color:red">No</span>'
    case 'null' : return '<span style="color:yellow">?</span>'
    default: return b
  }
}

function humanize(str)
{
  var frags = str.split('_')
  for (i=0; i<frags.length; i++)
  switch(frags[i]) {
    case 'df': frags[i] = 'Driver Door'; break
    case 'dr': frags[i] = 'Driver Side Rear Door'; break
    case 'pf': frags[i] = 'Passenger Door'; break
    case 'pr': frags[i] = 'Passenger Side Rear Door'; break
    case 'rt': frags[i] = 'Trunk'; break
    case 'ft': frags[i] = 'Frunk'; break
    default:
      frags[i] = frags[i].charAt(0).toUpperCase() + frags[i].slice(1)
  }
    
  
  return frags.join(' ')
}

//function printN(n) { return n.replace(/_/g, ' ') }

function objTable(o, c)
{
  const className = "table table-striped table-dark table-bordered table-hover"
  var t = '<table class="' + className + '"><caption data-toggle="collapse" data-target="#' + c + '" class="clickable"><b>' + humanize(c) + '</b></caption><tbody id="' + c +  '">'
  
  for (var p in o) 
    if(typeof(o[p]) !== 'object' || o[p] === null)
      t+= '<tr><td><b>' + humanize(p) + '</b></td><td>' + printP(o, p) + '</td></tr>'
   t+= '</tbody></table>'

  for (var p in o) 
    if(typeof(o[p]) === 'object' && o[p] !== null)
     t+= objTable(o[p], p)
  
t+= '</tbody></table>'

 return t
}

%>

<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>

<body onload="bodyOnload()">
  <% if(vdata) { %>
  <h1>
    <%= title %>
  </h1>
  <p>
    <% if(vdata.drive_state) { %>
    <a href='https://www.google.com/maps/search/?api=1&query=<%= vdata.drive_state.latitude %>,<%= vdata.drive_state.longitude %>'>Google Map Location</a>
    <a href='/reports/vdelta/<%=id%>'>Delta</a>
    <% } %>
  </p>
  <p>
  <div class="btn-group" role="group" aria-label="Basic example"></div>
    <button class="btn btn-dark" onclick="teslaCmd('flashLights')">Flash Lights</button>
    <button class="btn btn-dark" onclick="teslaCmd('honkHorn')">Honk Horn</button>
    <button class="btn btn-dark" onclick="teslaCmd('openTrunk')">Open Trunk</button>
    <button class="btn btn-dark" onclick="wakeUpStatus()">Wake Up</button>
    <div id='message'>message</div>
    <div id='state' class='vstate'>state</div>
  </div>
</p>
<%- objTable(vdata.charge_state, 'charge_state') %>
<%- objTable(vdata.vehicle_state, 'vehicle_state') %>
<%- objTable(vdata.drive_state, 'Drive State') %>

<%- objTable(vdata.gui_settings, 'GUI Settings') %>
<%- objTable(vdata.vehicle_config, 'Vehicle Config') %>
            


<% } else {  %>
   No Vehicle Data
   <a href="/">Vehicles</a>
   <% } %>

 
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/utils.js"></script>
</html>
  